INDEXER_CHAIN_ID=31337
INDEXER_RPC_URL=http://127.0.0.1:8545
INDEXER_DEPLOYMENTS_DIR=../contracts/deployments
ENVIO_PG_HOST=127.0.0.1
ENVIO_PG_PORT=54329
ENVIO_PG_USER=gusd
ENVIO_PG_PASSWORD=gusd
ENVIO_PG_DATABASE=gusd
ENVIO_PG_SCHEMA=gusd_index_envio_dev_v1
ENVIO_PG_SSL_MODE=false
ENVIO_HASURA=false
ENVIO_INDEXER_PORT=9898
ENVIO_API_TOKEN=
